<plugin name='resources' version='1.2.8' grailsVersion='1.3 &gt; *'>
  <title>Resources</title>
  <description>HTML resource management enhancements to replace g.resource etc.</description>
  <documentation>http://grails-plugins.github.com/grails-resources</documentation>
  <type>ResourcesGrailsPlugin</type>
  <resources>
    <resource>ResourcesBootStrap</resource>
    <resource>org.grails.plugin.resource.BaseUrlResourceMapper</resource>
    <resource>org.grails.plugin.resource.BundleResourceMapper</resource>
    <resource>org.grails.plugin.resource.CSSPreprocessorResourceMapper</resource>
    <resource>org.grails.plugin.resource.CSSRewriterResourceMapper</resource>
    <resource>org.grails.plugin.resource.ResourceTagLib</resource>
  </resources>
</plugin>